#Massagistas {
    width: 100%;
}

.mass_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mass_center {
    width: 960px;
    height: 100%;
    padding: 25px 0 50px 0;
    /*border-bottom: 1px solid #52525280;*/
}

.massagistas_wrapper {
    width: 100%;
    height: 100%;
}

.massagistas_wrapper--grid {
    display: grid;
    grid-template-columns: auto auto auto;   
}

.massagistas_wrapper--flex {
    display: flex;
    justify-content: center;
}

.massagista {
    width: 240px;
    height: 100%;

    display: flex;
    flex-direction: column;

}

.massagista_nome {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0 15px 0;
    text-transform: uppercase;
    color: #00000075;
}
.massagista_nome p {
    margin-top: 6px;
}

.mass_center_titulo h1 {
    font-family: 'Marcellus Regular';
    color: #c45455;
}

.massagista_img {
    width: 100%;
    height: 420px;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
}

.massagista_img img {
    width: 100%;
    height: 100%;
}

.massagista_img img, .massagista_img, #img_hover  {
    border-radius: 4px;
}


#img_hover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000060;
    opacity: 0;
    transition: opacity .4s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#img_hover p, #img_hover h2 {
    margin-bottom: 10px;
    text-align: center;
}

#img_hover:hover {
   opacity: 1;
}

.mass_center_titulo {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 15px 0;

    margin-bottom: 20px;
}

.mass_center_titulo strong{
    color: #00000070;
    padding: 15px 0 0 0;
    font-weight: 100;
    font-size: 1.2em;
}

@media only screen and (max-width: 960px)  {
    .massagistas_wrapper {
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .massagista {
        padding-bottom: 40px;
        border-bottom: 1px solid #00000020;

    }
}