#PerfilContent {
    width: 100vw;
}

#perfil-wrapper {
    margin-top: 35px;
    margin-bottom: 35px;
}

#avatar {
    background-color: #ddd;
    border-radius: 50%;
    width: 240px;
    height: 240px;

    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px 0px;
}

#avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name-margin {
    margin-top: 30px;
    margin-bottom: 15px;
}

#name {
    font-family: 'Marcellus Regular';
    color: #c76f71;
}


#descricao {
    width: 40%;
    text-align: center;
    color: #00000080;
    font-weight: bold;
    font-size: 18px;
}

#fotos {
    width: 80%;
    max-width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 4em;
}

#fotos div {
    padding: 35px 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

#fotos div img {
    max-width: 400px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px 0px;
}


#fotos-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 28px;
    color: #00000040;
    padding: 50px 0 20px 0;
    
}

#fotos-title p {
    font-family: 'Marcellus Regular';
    padding: 0 30px 10px 20px;
    border-bottom: 3px solid #00000040;
}

@media only screen and (max-width: 960px)  {
    #perfil-wrapper {
        width: 94% !important;
    }

    #descricao {
        width: 100%;
    }

    #fotos {
        display: flex;
        flex-direction: column;
    }

    #fotos div img{
        width: 90vw;
        margin-bottom: 4em;
    }
}

/* Desc ---------------------------------------------------*/

#Desc {
    background-color: #1f1e1d;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.desc-top-full-border {
    width: 100%;
    border-bottom: 4px solid  #c76f71;
    display: flex;
    justify-content: center;
}

.desc-top {
    width: 80%;
    padding: 30px 0;
    display: flex;
    align-items: center;
}

.desc-icon {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-right: 20px;
}

.desc-icon--red{
    color: #c76f71;
}
.desc-icon--white{
    color: #fff;
}
.desc-bot {
    width: 80%;
    padding: 30px 0;
    display: flex;
}
.desc-bot--left {
    width: 50%;
}
.desc-bot--right {
    width: 50%;
}

#number {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.number-w {
    display: flex;
    align-items: center;
}

#hightlights div:not(:first-child) {
    margin-top: 18px;
}

#DList dl {
    line-height: 1.6;
    padding: 30px 0 0 0;
    list-style: circle;
}

#DList dt {
    color: #c76f71;
    font-weight: 600;
    font-size: 22px;
}

#DList dd{
    font-size: 18px;
    color: #fff;
    text-indent: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 960px)  {
    .desc-top {
        width: 100%;
        padding-left: 30px;
    }

    .desc-bot {
        width: 100%;
        flex-direction: column;
    }
    .desc-bot--left {
        padding-left: 30px;
        width: 100%;
    }
    .desc-bot--right {
        padding-left: 30px;
        width: 100%;
    }
}



